<!-- <app-http></app-http> -->

<!-- <app-childfour></app-childfour> -->

<!-- <app-childtwo></app-childtwo>
<app-childthree></app-childthree> -->

<!-- <app-parent></app-parent> -->

<!-- <app-childone></app-childone> -->

<app-header></app-header>


<!-- <app-home4></app-home4> -->


<!-- <h1>hello</h1>
<router-outlet></router-outlet> -->
<!-- <app-wellcome></app-wellcome> -->
<!-- <div class="container-fluid  d-flex justify-content-between w-2 bg-primary">
    <h1>routing</h1>
    <button routerLink="/login">login</button>
</div>
<router-outlet></router-outlet> -->
<!-- <app-childtwo></app-childtwo> -->
<!-- <app-shop1></app-shop1> -->


<!-- task api data send to service and receive data service to childfour components
<button (click)="sendFun()">send api</button>
<app-childfour></app-childfour> -->