<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div>
    <a routerLink="./childfour">childfour component</a>
  </div>
  <button type="submit" class="btn btn-primary" routerLink="/register">Submit</button>
</form>
<!-- <router-outlet></router-outlet> -->
<!-- <div>
  <form [formGroup]="data" (ngSubmit)="onLoad()">
    <div class="mb-2">
      <label class="form-label" >Email</label>
      <input type="email" class="form-control" placeholder="Email" formControlName="email">
       <p style="color:red;" *ngIf='logIn && this.data.controls["email"].status === "INVALID"'>email not valid</p> 
    </div>
    <div class="mb-2">
      <label class="form-label">Password</label>
      <input type="password" class="form-control"  placeholder="Password" formControlName="password">
       <p style="color:red;" *ngIf='logIn && this.data.controls["password"].status === "INVALID"'>password not valid</p> 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
        <h2>If you are not register --<a routerLink="/register">Register</a></h2> -->