.header{
    background:linear-gradient(#0fb8ec,#cee4e4,#d6c0e9) ;
}
.second{
    width: 100px;
    justify-content: space-around;
}



// div{
//     border:4px solid blue;
//     height: 100vh;
//     width: 100vw;
   
// }